<%- include('../partials/header') %>
<form id="new-form" action="<%= user._id %>/teams/new" method="POST">
    <label class="pkmn-name" name="name"><%= capName %></label>
    <label class="moves-list">Moves</label>
    
</form>
<%- include('../partials/footer') %>