<%- include('../partials/header') %>
<div id="team-table">
    <% if (teams.length) { %>
        <% teams.forEach(function(t) { %>
            <div class="team-preview">
                <h2><%= t.name %></h2>
                <a class="button delete-btn" href="#">Delete Team</a>
                <a class="button detail-btn" href="#">See Details</a>
            </div>
        <% }); %>
    <% } else { %>
        <h2>No Teams Yet</h2>
    <% } %>
</div>
<a href="/users/<%= user._id %>/teams/new">Create A Team</a>
<%- include('../partials/footer') %>