<%- include('../partials/header') %>
<form id="new-pokemon" action="/<%= user._id %>/teams/new" method="POST" autocomplete="off">
  <label class="pkmn">Add Team</label>
  <input type="text" name="name" autocomplete="off"/>
  <button type="submit">Add Team</button>
</form>
<a href="/<%= user._id %>/teams" class="button bottom-button">Back to Teams</a>
<%- include('../partials/footer') %>
