<%- include('../partials/header') %>
<div id="member-table">
    <% if (team.members.length) { %>
        <% team.members.forEach(function(t) { %>
            <div class="member-preview">
            </div>
        <% }); %>
    <% } else { %>
        <h2>No Members Yet</h2>
    <% } %>
</div>
<%- include('../partials/footer') %>