<%- include('partials/header') %>
    <% if (user) { %>
        <a href="/user">View My Teams</a>
        <a href="/user/new">Create A Team</a>
  <% } else { %>
        <h2>Please login to continue.</h2>
  <% } %>
<%- include('partials/footer') %>