* {
  font-family: Helvetica;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #f0f0f0;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

a {
  text-decoration: none;
}

body > nav {
  grid-area: nav;
  background-color: #ee1515;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px 0 30px;
  border-bottom: 4px solid #222224;
}


nav > h1 {
  color: white;
  margin: auto;
}

nav > a {
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  color: white
}

.align-only {
  visibility: hidden;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#team-table {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 10px;
}

.team-preview {
  border: 1px solid black;
  place-self: stretch;
  display: grid;
  min-height: 200px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  grid-template-areas: 
    "name name name name name"
    ". member1 member2 member3 ."
    ". member4 member5 member6 ."
    "delete delete . add add"
}

.team-preview > h2 {
  grid-area: name;
  place-self: stretch;
  text-align: center;
}